<p class="mat-display-1" id="top">Go here for documentation:<br><a href="https://material.angular.io/components/categories">https://material.angular.io/components/categories</a>
</p>

<p class="mat-body-1">Table of Contents: <br></p>
<ol>
  <li><a href="#buttons">Buttons</a></li>
  <li><a href="#font-sizes">Font sizes</a></li>
  <li><a href="#icons">Icons</a></li>
</ol>
<br><br><br>


<div id="buttons" class="mat-display-1">Buttons &nbsp;&nbsp;&nbsp;&nbsp;<a href="#top">Back to top</a><br><br>
  <div class="mat-body-1">&lt;button mat-button&gt;</div><button mat-button>Plain button</button><br><br><br>
  <div class="mat-body-1">&lt;button mat-raised-button&gt;</div><button mat-raised-button>Raised button</button><br><br><br>
  <div class="mat-body-1">&lt;button mat-flat-button&gt;</div><button mat-flat-button>Flat button</button><br><br><br>
  <div class="mat-body-1">&lt;button mat-stroked-button&gt;</div><button mat-stroked-button>Stroked button</button><br><br><br>
  <div class="mat-body-1">&lt;button mat-icon-button&gt;</div><button mat-icon-button>icon button</button><br><br><br>
  <div class="mat-body-1">&lt;button mat-fab&gt;</div><button mat-fab>fab button</button><br><br><br>
  <div class="mat-body-1">&lt;button mat-mini-fab&gt;</div><button mat-mini-fab>Mini fab button</button><br><br><br>

  <div class="mat-body-1">&lt;button color="primary" mat-button&gt;</div><button color="primary" mat-button>Plain button</button><br><br><br>
  <div class="mat-body-1">&lt;button color="accent" mat-button&gt;</div><button color="accent" mat-button>Plain button</button><br><br><br>
  <div class="mat-body-1">&lt;button color="warn" mat-button&gt;</div><button color="warn" mat-button>Plain button</button><br><br><br>

  <div class="mat-body-1">&lt;button color="primary" mat-raised-button&gt;</div><button color="primary" mat-raised-button>Raised button</button><br><br><br>
  <div class="mat-body-1">&lt;button color="accent" mat-raised-button&gt;</div><button color="accent" mat-raised-button>Raised button</button><br><br><br>
  <div class="mat-body-1">&lt;button color="warn" mat-raised-button&gt;</div><button color="warn" mat-raised-button>Raised button</button><br><br><br>
</div>

<div id="font-sizes" class="mat-display-1">Font sizes &nbsp;&nbsp;&nbsp;&nbsp;<a href="#top">Back to top</a><br><br>
  <div class="mat-body-1">&lt;div class="mat-display-4"&gt;</div><div class="mat-display-4">This is display 4</div>
  <div class="mat-body-1">&lt;div class="mat-display-3"&gt;</div><div class="mat-display-3">This is display 3</div>
  <div class="mat-body-1">&lt;div class="mat-display-2"&gt;</div><div class="mat-display-2">This is display 2</div>
  <div class="mat-body-1">&lt;div class="mat-display-1"&gt;</div><div class="mat-display-1">This is display 1</div>

  <div class="mat-body-1">&lt;div class="mat-headline"&gt;</div><div class="mat-headline">Heading 1</div>
  <div class="mat-body-1">&lt;div class="mat-title"&gt;</div><div class="mat-title">Heading 2</div>
  <div class="mat-body-1">&lt;div class="mat-subheading-2"&gt;</div><div class="mat-subheading-2">Heading 3</div>
  <div class="mat-body-1">&lt;div class="mat-subheading-1"&gt;</div><div class="mat-subheading-1">Heading 4</div>

  <div class="mat-body-1">&lt;div class="mat-body-1"&gt;</div><div class="mat-body-1">regular body text</div><br>
  <div class="mat-body-1">&lt;div class="mat-body-2"&gt;</div><div class="mat-body-2">bold body text</div><br>
  <div class="mat-body-1">&lt;div class="mat-caption"&gt;</div><div class="mat-caption">caption text</div><br>
</div>

<div id="icons" class="mat-display-1">Icons &nbsp;&nbsp;&nbsp;&nbsp;<a href="#top">Back to top</a><br><br>
  Material Icons: <a href="https://material.io/tools/icons">https://material.io/tools/icons</a><br><br>
  <div class="mat-body-1">&lt;mat-icon&gt;local_movies&lt;/mat-icon&gt;</div><mat-icon>local_movies</mat-icon>
  <div class="mat-body-1">&lt;mat-icon color="primary"&gt;movie&lt;/mat-icon&gt;</div><mat-icon color="primary">movie</mat-icon>
  <div class="mat-body-1">&lt;mat-icon&gt;star&lt;/mat-icon&gt;&lt;mat-icon&gt;star_half&lt;/mat-icon&gt;&lt;mat-icon&gt;star_border&lt;/mat-icon&gt;</div>
    <mat-icon>star</mat-icon><mat-icon>star_half</mat-icon><mat-icon>star_border</mat-icon>
</div>

