<mat-card>
  <mat-card-title>Batman</mat-card-title>

  <mat-card-content>hello</mat-card-content>
  <img mat-card-avatar src="https://upload.wikimedia.org/wikipedia/en/thumb/6/69/Batman1966Poster.jpg/220px-Batman1966Poster.jpg">
  <!-- <img mat-card-image src="https://upload.wikimedia.org/wikipedia/en/thumb/6/69/Batman1966Poster.jpg/220px-Batman1966Poster.jpg"> -->
  <mat-card-actions align="end"><button mat-raised-button color="primary">View Movie&nbsp;<mat-icon>arrow_forward</mat-icon></button></mat-card-actions>
</mat-card>
<mat-card>
  <mat-card-title-group>
    <img mat-card-md-image src="https://upload.wikimedia.org/wikipedia/en/thumb/6/69/Batman1966Poster.jpg/220px-Batman1966Poster.jpg">
    <mat-card-title>Batman</mat-card-title>
    <mat-card-content>hello</mat-card-content>
    </mat-card-title-group>
    <!-- <img mat-card-image src="https://upload.wikimedia.org/wikipedia/en/thumb/6/69/Batman1966Poster.jpg/220px-Batman1966Poster.jpg"> -->
    <mat-card-actions align="end"><button mat-raised-button color="primary">View Movie&nbsp;<mat-icon>arrow_forward</mat-icon></button></mat-card-actions>
  </mat-card>


<div class="flex-container">

  <div *ngFor="let movie of results" class="movie-card">
    <div class="movie-picture" *ngIf="movie.moviePictureURL"><img src="{{movie.moviePictureURL}}"></div>
    <div class="movie-picture-window" *ngIf="movie.moviePictureURL" style="background-image: url('')"></div>
    <span class="movie-title" *ngIf="movie.movieTitle">{{movie.movieTitle}}</span>
    <span class="movie-year" *ngIf="movie.movieYear">&nbsp;|&nbsp;{{movie.movieYear}}</span>
    <span class="movie-genre" *ngIf="movie.movieGenre"><span *ngFor="let genre of movie.movieGenre">{{genre}}&nbsp;</span></span>
    <span class="movie-starring" *ngIf="movie.movieStarring">
      <ul>
        <li *ngFor="let starring of movie.movieStarring">{{starring}}</li>
      </ul>
    </span>
    <span class="movie-rating" *ngIf="movie.movieRating">{{movie.movieRating}}</span>
    <span class="movie-desc" *ngIf="movie.movieDesc">{{movie.movieDesc}}</span>
    <span class="movie-comments-num" *ngIf="movie.movieComments">{{movie.movieComments}}</span>
  </div>

  <div *ngFor="let movie of results" class="movie-card">
    <div class="movie-picture" *ngIf="movie.moviePictureURL"><img src="{{movie.moviePictureURL}}"></div>
    <span class="movie-title" *ngIf="movie.movieTitle">{{movie.movieTitle}}</span>
    <span class="movie-year" *ngIf="movie.movieYear">{{movie.movieYear}}</span>
    <span class="movie-genre" *ngIf="movie.movieGenre">{{movie.movieGenre}}</span>
    <span class="movie-starring" *ngIf="movie.movieStarring">
      <ul>
        <li *ngFor="let starring of movie.movieStarring">{{starring}}</li>
      </ul>
    </span>
    <span class="movie-rating" *ngIf="movie.movieRating">{{movie.movieRating}}</span>
    <span class="movie-desc" *ngIf="movie.movieDesc">{{movie.movieDesc}}</span>
    <span class="movie-comments-num" *ngIf="movie.movieComments">{{movie.movieComments}}</span>
  </div>

</div>
