/* 

    NOTE: rgba(?,?,?,?)
            first ? is red value (0-255)
            second ? is green value (0-255)
            third ? is blue value (0-255)
            fourth ? is "alpha" (0-1) 
                - controls the opacity/transparency
                - 0 is invisible
                - 0.5 is 50% opacity
                - 1 is 100% opaque/visible

            So, you'll see me using the rgba() a lot instead of #RRGGBB,
                because then if I want to change the opacity, I only have
                to change the last number.

    Colors:
    Turquoise:      #51FFD0
                    rgba(81,255,208,1)
    Cerulean:       #00ACD3
                    rgba(0,172,211,1)
    Electric Blue:  #27EEFF
                    rgba(39,238,255,1)
    Gray:           #383E49
                    rgba(56,62,73,1)
    Black:          #191C21
                    rgba(25,28,33,1)

*/

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px;
}
mat-card {
    flex-basis: 250px;
    flex-grow: 1;
    max-height: 500px;
    margin: 10px;
    overflow: auto;
    padding: 3%;
}
.mat-card-md-image {
    width: 35%;
    height: auto;
    border-radius: 3px;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}
.comments-icon {
    margin-right: 15px;
}
.genre, .year, .actor, .director {
    margin: 0 5px;
}
mat-card-subtitle {
    display: flex;
    flex-wrap: wrap;
}

/* @media screen and (min-width: 600) {
   
} */