


<div class="flex-container">

<mat-card role="group" tabindex="0">
  <mat-card-title-group>
    <mat-card-title>Batman</mat-card-title>
    <mat-card-subtitle>1966 &nbsp;|&nbsp; comedy&nbsp; action&nbsp; superhero</mat-card-subtitle>
  </mat-card-title-group>
    <div class="movie-card-image-div">
      <img class="mat-card-md-image" mat-card-md-image src="https://upload.wikimedia.org/wikipedia/en/thumb/6/69/Batman1966Poster.jpg/220px-Batman1966Poster.jpg">
    </div>
    <mat-card-subtitle>Directed by: William Dozier</mat-card-subtitle>
      <mat-card-subtitle>Starring: Adam West, Burt Ward, Lee Meriwether, Cesar Romero, Burgess Meredith, Frank Gorshin</mat-card-subtitle>
    <mat-card-content>
      For The First Time On The Motion Picture Screen In Color! Adam West as Batman and Burt Ward as Robin Together With All Their Fantastic Derring-Do And Their Dastardly Villians, Too!
    </mat-card-content>
    <mat-card-actions align="end"><mat-icon class="comments-icon" matBadge="3" matBadgePosition="below after" matBadgeColor="accent">chat_bubble_outline</mat-icon><button mat-raised-button color="primary">View More&nbsp;<mat-icon>arrow_forward</mat-icon></button></mat-card-actions>
  </mat-card>

  

</div>
