<div class="flex-container">
    <div class="mat-headline links">
      <a href="./very-popular" menu-item>Here is a very popular search on the site</a>
      <br>
      <a href="./another-one" menu-item>And here is yet another one</a>
      <br>
      <a href="./infact" menu-item>Infact, I don't even know why anybody would ever search for things like this</a>
      <br>
      <a href="./bad-taste" menu-item disabled>People have bad taste in movies</a>
      <br>
      <a href="./bad-taste" menu-item disabled>People have bad taste in movies</a>
      <br>
      <a href="./bad-taste" menu-item disabled>People have bad taste in movies</a>
      <br>
      <a href="./bad-taste" menu-item disabled>People have bad taste in movies</a>
      <br>
      <a href="./bad-taste" menu-item disabled>People have bad taste in movies</a>
      <br>
      
    </div> 
