<nav>
  <div id="nav-left">
    <span id="logo">{{siteName | uppercase}}</span>
    <ul id="nav-links-left">
      <li>
        {{navLinksLeftParent}}
        <ul id="nav-left-dropdown">
          <li *ngFor="let leftLink of navLinksLeft">{{leftLink}}</li>
        </ul>
      </li>
    </ul>
  </div>
  <div id="search-div">
    <input id="search" type="text" placeholder="search" [(ngModel)]="name">
  </div>
  <div id="nav-right">
    <ul id="nav-links-right">
      <img *ngIf="currentUserPicUrl" src="{{currentUserPicUrl}}" alt="{{currentUser.username}}'s profile picture'">
      <li *ngIf="!currentUser">Login</li>
      <li *ngIf="currentUser">{{navLinksRightParent}}
        <ul id="nav-right-dropdown">
          <li *ngFor="let rightLink of navLinksRight">{{rightLink}}</li>
        </ul>
      </li>
      <li *ngIf="currentUser">Logout</li>
    </ul>
  </div>
</nav>
