/* 

    NOTE: rgba(?,?,?,?)
            first ? is red value (0-255)
            second ? is green value (0-255)
            third ? is blue value (0-255)
            fourth ? is "alpha" (0-1) 
                - controls the opacity/transparency
                - 0 is invisible
                - 0.5 is 50% opacity
                - 1 is 100% opaque/visible

            So, you'll see me using the rgba() a lot instead of #RRGGBB,
                because then if I want to change the opacity, I only have
                to change the last number.

    Colors:
    Turquoise:      #51FFD0
                    rgba(81,255,208,1)
    Cerulean:       #00ACD3
                    rgba(0,172,211,1)
    Electric Blue:  #27EEFF
                    rgba(39,238,255,1)
    Gray:           #383E49
                    rgba(56,62,73,1)
    Black:          #191C21
                    rgba(25,28,33,1)

-------------------------------------------------------------------------
-------------------------------------------------------------------------
    CODE FOR MOBILE MENU (vertical) 
*/
nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 12px 2%;
    height: auto;
    background-image: linear-gradient(to left, rgba(0,172,211,1), rgba(81,255,208,1));
    align-self: center;
    width: 30%;
    position: fixed;
    overflow: auto;
}

#search-div {
    display: none;
}
a {
    display: block;
    padding: 0 5%;
    flex-basis: 150px;
    min-height: 40px;
    cursor: pointer;
    text-align: center;
}

a:hover {
    background-color: gray;
}
a:active {
    background-color: black;
    color: white;
}
.dropdown {
    flex-direction: column;
}

/*
------------------------------------------------------
    CODE FOR TABLET & DESKTOP MENU (horizontal)
*/
@media screen and (min-width: 600px) {
    nav {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 65px;
        overflow: visible;

    }
    nav>div>a, nav>div>div>a {
        height: fit-content;
    }
    #search-div {
        padding: 5px 2%;
    }
    #search-div, #search {
        display: block;
        width: 100%;
        height: 30px;
    }
    #nav-left, #nav-right {
        display: flex;
    }
    .nav-link {
        min-width: 120px;
        padding: 10px;
        margin: 2px;
    }
    .dropdown-links .nav-link {
        background-color: rgba(0,172,211,1);
    }
}