<nav>
  <div id="nav-left">
    <ul id="nav-links-left">
      <li id="logo"><a>{{siteName | uppercase}}</a></li>
      <li class="dropdown-parent">
        <a>{{navLinksLeftParent}}</a>
        <ul class="dropdown">
          <li *ngFor="let leftLink of navLinksLeft"><a>{{leftLink}}</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div id="search-div">
    <input id="search" type="text" placeholder="search" [(ngModel)]="name">
  </div>
  <div id="nav-right">
    <ul id="nav-links-right">
      <img *ngIf="currentUserPicUrl" src="{{currentUserPicUrl}}" alt="{{currentUser.username}}'s profile picture'">
      <li *ngIf="!currentUser"><a>Login</a></li>
      <li class="dropdown-parent" *ngIf="currentUser"><a>{{navLinksRightParent}}</a>
        <ul class="dropdown">
          <li *ngFor="let rightLink of navLinksRight"><a>{{rightLink}}</a></li>
        </ul>
      </li>
      <li *ngIf="currentUser"><a>Logout</a></li>
    </ul>
  </div>
</nav>
