/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
}

ul {
    list-style: none;
}
input[type="text"], input[type="password"], input[type="email"] {
    border-radius: 30px;
    text-align: center;
    min-height: 25px;
}